

body{
	font-family: 'Mandali', sans-serif;
    font-weight: 600;
	font-size: 14px;
}

.hideme{
    opacity:0;
}
/*************NAVBAR*******************/
.navbar-brand>img {
    display: block;
    width: 222px;
    max-width: 100%;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-nav>li>a {
    padding-top: 31px;
    padding-bottom: 32px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-default {
    background-color: #fff;
    border-color: transparent;
    margin-bottom: 0;
}
/*************END NAVBAR*******************/

/****************SLIDER*************************/
.slider:after{
	content: "";
	background: url(../images/banner4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}
.slider {
    display: block;
    position: relative;
    padding-top: 85px;
}
.reviews a{
    display: inline-block;
    background: #db2828;
    color: #fff;
    text-decoration: none;
    height: 70px;
    width: 80px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 0 0 50% 50%;
}
.reviews a:hover{
    background-color: #a51414;
    transition: background-color 0.3s;
}

.reviews a .fa{
    font-size: 10px;
}
.reviews{
    position: fixed;
    z-index: 1000;
    right: -5px;
    top: 40%;
    transform: rotate(90deg);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #29aae1;
    background-color: transparent;
    transition: 0.5s;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #29aae1;
    background-color: transparent;
}
.features{
	border: 1px solid #eee;
    padding: 30px;
    text-align: center;
}
.features h3{
	margin:15px 0px 0 0;
	color: #999;
}
.features p{
	margin-top: 20px;
}
.features .fa {
    font-size: 36px;
    color: #29aae1;
}
.section-1{
	padding: 75px 0;
}
.features:hover{
	background: #29AAE1;
	color: #fff;
	transition: 0.5s;
}
.features:hover h3 {
    color: #fff;
    transition: 0.9s;
}
.features:hover p{
    color: #fff;
    transition: 1.2s;
}
.features:hover .fa{
	color: #fff;
	transition: 0.4s;
}
.connection{
	text-align: center;
}
.connection h2{
	margin: 20px 0;
}
.connection p{
	margin: 20px 0;
	color: #999;
}
.title-1-center{
	text-align: center;
}
.title-1-center p{
	width: 60%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    color: #999;
}
.blog-1 img{
	max-width: 100%;
}
.date:after{
	content: "";
	border-bottom: 2px solid #DB2828;
    display: block;
    width: 10%;
    max-width: 100%;
    padding-bottom: 15px;
}
.blog-contant h4{
	margin: 0 0 15px 0px;
}
.section-3{
	padding: 30px 0;
}
.blog-contant{
	border: 1px solid #eee;
    padding: 30px;
    padding-bottom: 10px;
}
.date{
	margin-bottom: 20px;
}
.blog-1:hover{
	box-shadow:0 0px 9px -1px #999;
	transition: 0.3s;
}
.blog-1{
	margin-top: 40px;
	margin-bottom: 30px;
}
.blog-text p{
	line-height: 1.9;
	color: #999;
	margin-bottom: 20px;
}
.blog-share{
	display: inline-block;
    float: left;
    padding-right: 15px;
}
.blog-like{
	display: inline-block;
    float: left;
    padding-right: 15px;
}
.blog-comment{
	display: inline-block;
    float: left;
    padding-right: 15px;
}
.blog-contant a{
	color: #333;
    text-decoration: none;
    display: inline-block;
}
.blog-social{
	display: inline-block;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #eee;
}
.copy-rights li{
	display: inline-block;
	float: left;
	padding: 0 10px;
    border-right: 1px solid #fff;
}
.copy-rights li:last-child{
	border:0;
}
.copy-rights ul{
	display: inline-block;
    padding: 0;
    margin: 0;
}
.footer{
	text-align: center;
	background: #0e86b9;
	padding: 50px 0;
    color: #fff;
    position: relative;
}
.copy-rights a{
	color: #93dfff;
    text-decoration: none;
}
.footer-text{
	width: 100%;
    margin: 20px auto;
    max-width: 100%;
}
.social-icon ul{
	list-style: none;
    padding: 0;
    display: inline-block;
    margin: 20px 0 0 0;
}
.social-icon li{
	display: inline-block;
    float: left;
}
.social-icon .fa{
	font-size: 20px;
    height: 40px;
    width: 40px;
    background: #fff;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    color: #0e86b9;
    border-radius: 20px;
}
.social-icon .fa:hover{
	padding: 8px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    height: 40px;
    width: 40px;
    transition: 0.5s;
}
.social-icon ul li a{
	padding: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-menu-bar ul{
	padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.footer-menu-bar li{
	display: inline-block;
}
.footer-menu-bar{
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.footer-menu{
	background:#0474a2;
}
.footer-menu-bar a{
	color: #fff;
    text-decoration: none;
    padding: 0 20px;
    font-size: 16px;
}
.footer-menu-bar a:hover{
	color:#93dfff;
	transition: 0.5s; 
}
.footer-logo img{
	max-width: 100%;
    width: 250px;
}
.ftr-right {
    text-align: left;
}
.copy-rights li:first-child{
    padding-left: 0;
}
.footer-menu-bar2 ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.copy-rights{
        padding: 20px 0;
    text-align: center;
    background: #0e86b9;
    border-top: 2px solid #0294d2;
    color: #fff;
}
.sslimg img{
    max-width: 100%;
    width: 100px;
}
.sslimg{
    text-align: left;
    margin-top: 20px;
}
.footer-menu-bar2{
    text-align: left;
}
.footer-menu-bar2 li a{
        color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding:17px 0;
}

.scroll-top-btn .fa{
	color: #fff;
    background: #db2828;
    padding: 18px;
    border-radius: 50%;
    font-size: 20px;
    width: 60px;
    height: 60px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.scroll-top-btn{
	position: absolute;
    top: -31px;
    right: 50px;
}
.first-model{
	text-align: center;
    padding: 40px;
}
.first-model h1{
	margin-top: 30px;
    color: #999;
    font-size: 44px;
}
.model-button button {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 30px;
    background: #29aae1;
    color: #fff;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0px;
    margin: 25px 10px;
}
.model-button button:hover {
	background: transparent;
    color: #29aae1;
    border: 2px solid #29aae1;
    padding: 8px 28px;
    transition: all 0.3s ease-out;
}
.model-button .fa{
	margin-left: 5px;
    font-size: 12px;
    vertical-align: middle;
}
.model-form input{
	width: 90%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ddd;
    padding: 8px 10px;
    margin-left: 15px;
}
.model-form .fa-envelope{
	font-size: 22px;
    vertical-align: bottom;
    color: #29aae1;
}
.model-form{
	margin: 25px 0 0 0;
}
/****TABS*****/
.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a > .quote {
    position: absolute;
    right: 20px;
    bottom: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;  
}
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #29aae1; }
.nav.nav-justified > li > a > img { 
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner {
    padding: 30px 0 20px;
    color: #fff;
    text-align: center;
}
.tab-content{
	display: inline-block;
    width: 100%;
}
.tabs{
	margin-top: 50px;
}
.tabs .nav.nav-justified > li > a > img{
	    width: 80px;
}
.label-img img{
	max-width: 90px;
    width: 100%;
}
.slider-form input{
	background: transparent;
    border-right: 0px;
    border: 0;
    border-bottom: 2px solid #999;
    height: 50px;
    width: 50%;
    max-width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    margin: 0 15px;
}
.slider-form input:focus{
    outline: 0;
    border-bottom: 2px solid #29aae1;
}
.slider-form button:focus{
    outline: 0;

}
.slider-form button{
	background: #29aae1;
    border: 0px;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 30px;
}
.slider-form button:hover{
    background: #0e86b9;
    transition: 0.5s;
    box-shadow: 4px 4px 26px -3px #000;
}
.tabs h4{
	color: #adadad;
}
.tabs input:focus, textarea:focus, select:focus {
    outline-offset: 0px;
}
.slider-form{
	margin: 50px 0;
}
/*****END TABS******/

/**************** END SLIDER*************************/

.btc-pay-title{
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.reload select{
    background: transparent;
    border: 1px solid #fff;
    padding: 0px 10px;
}
.reload select option{
    color: #333;
}
.slide-menu ul{
    padding: 0;
    list-style: none;
}
.slide-menu li{
    border: 1px solid #eaeaea;
}
.slide-menu li a{
    color: #333;
    text-decoration: none;
    display: block;
    padding:25px 20px;
}
.slide-menu .active1 a{
    color: #fff !important;
    background: #27a9e1 !important;
}
.slide-menu li a:hover{
    background-color: #e4e4e4;
}
.user-id{
    margin: 15px 0;
}
.table-title h3{
    font-weight: bold;
    border-left: 4px solid #db2828;
    padding-left: 15px;
    color: #999;
    margin-bottom: 20px;
}
.account-details {
    margin: 0;
    border: 1px solid #ddd;
    padding: 15px 25px;
}
.account-table button{
    background: transparent;
    border: 0;
    padding: 0;
}
.load-more button{
    background: #db2828;
    color: #fff;
    border: 0;
    padding: 8px 20px;
}
.general-setting .btn-primary:hover {
    color: #fff;
    background-color: #db2828;
    border-color: #db2828;
    transition: 0.3s;
}
.general-setting .btn{
    margin-top: 0;
}
.bann1 img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.bann1 input{
    border: 0;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 8px 0;
    color: #999;
}
.bann1 input:focus{
    outline: 0;
}
.bann1 label{
    margin-top: 15px;
    margin-bottom: 0;
}
.bann1{
    padding: 30px;
    border-bottom: 1px solid #e8e8e8;
}
.bann1:last-child{
    border: 0;
}


.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
    width: 100%;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    position: relative;
    margin: 15px 0;
}

.rating > label {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: relative;
    width: 35px;
    cursor: pointer;
    color: #000;
    font-size: 40px;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #db2828;
}
.reviews-row{
    display: block;
    margin: 0 auto;
    border: 1px solid #c5c5c5;
    padding: 40px;
    background: #eee;
    border-radius: 6px;
}
.reviews-page{
    padding: 50px 0;
}
.old-reviews{
    margin-top: 50px;
}
.btn-unique{
    display: inline-block;
    padding: 8px 35px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #db2828;
    border-radius: 4px;
    background: #db2828 !important;
    color: #ffffff !important;
    margin-top: 20px;
}
.rev-check{
    color: #db2828;
}
.rev-date{
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}
.rev-name{
    display: inline-block;
    margin-right: 5px;
}
.rev-name h4{
    font-size: 26px;
}
.rev-title h4{
    font-size: 22px;
}
.rev-text p{
    font-weight: normal;
}
.reviwe-1{
    border: 1px solid #c5c5c5;
    padding: 15px 25px;
    background: #eee;
    border-radius: 6px;
    margin: 15px 0;
}
.title-review{
    text-align: center;
}
.title-leaderboard{
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
/*****************HOME PAGE**********************/

.welcome{
	text-align: center;
    color: #fff;
    margin: 60px 0 40px 0;
}
.mining-text{
	display: inline-block;
    color: #fff;
    margin: 0 0 0 10px;
    vertical-align: middle;
}
.welcome h1{
	font-size: 43px;
    font-weight: 400;
}
.version{
	margin: 50px 0;
}
.balance{
	box-shadow: 0 -12px 15px -13px #000;
    background: rgb(0, 0, 0, 0.3);
    padding: 20px 0;
    color: #fff;
}
.balance-text h2{
	margin: 0;
    line-height: 2;
}
.balance-num h1{
	margin: 0;
    line-height: 1.3;
    font-size: 48px;
    font-weight: 700;
}
.withdraw button{
    background: #db2828;
    border: 2px solid #db2828;
    padding: 10px 25px;
    color: #fff;
}
.withdraw{
	margin: 9px;
}
.canvasjs-chart-credit{
	display: none;
}
.bitcoin-number{
	text-align: center;
	border: 1px solid #eee;
    padding: 30px 0;
}
.bitcoin-number h5{
	color: #999;
    margin-top: 25px;
}
.section-5{
	padding: 70px 0;
}
.select-chart{
	text-align: right;
	margin-top: 8px;
}
.select-chart select{
	padding: 8px 30px;
    font-size: 16px;
    color: #999;
}
.chart-date-title{
	margin: 15px 0;
}
.chart-title{
	margin: 20px 0;
}
.title{
	text-align: center;
	margin-bottom: 30px;
}
.prising-table{
	text-align: center;
    background: #eee;
    padding: 40px 20px;
    border: 1px solid #a0a0a0;
    margin-top: 25px;
    border-radius: 10px;
}
.prising-table:hover{
	box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease-out;
    border: 2px solid #29aae1;
    padding: 39px 19px;
}
.prising-table:hover .bonus{
	box-shadow:0 0 30px -3px #333;
	transition: all 0.3s ease-out;
}
.prising-table:hover .buy-prising button{
	box-shadow:0 0 30px -3px #333;
	transition: all 0.3s ease-out;
}
.prising-table3{
    text-align: center;
    background: #4da3c7;
    padding: 65px 20px;
    border: 2px solid #0e86b9;
    color: #fff;
    border-radius: 10px;
}
.prising-table3:hover{
    box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-out;
}
.prising-table3:hover .bonus{
    box-shadow:0 0 30px -3px #333;
    transition: all 0.3s ease-out;
}
.prising-table3:hover .buy-prising button{
    box-shadow:0 0 30px -3px #333;
    transition: all 0.3s ease-out;
}

.section-4 .col-md-3{
    padding-right: 0;
    padding-left: 0;
}
.bonus{
	padding: 36px 0;
    background:#DB2828;
    color: #fff;
    display: inline-block;
    width: 48%;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.bonus h3{
	margin: 0;
}
.prising{
	margin: 20px 0 0 0;
}
.border-prising{
	border-bottom: 1px solid #d4d4d4;
    height: 2px;
    display: inline-block;
    width: 100%;
}
.prising p{
	margin-bottom: 0;
    margin-top: 10px;
}
.buy-prising button{
	text-decoration: none;
    font-size: 14px;
    padding: 10px 30px;
    background: #db2828;
    color: #fff;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
}
.buy-prising{
	margin-top: 20px;
}
.prising-name{
	margin-bottom: 20px;
	margin-top: 0;
}
.section-4{
	padding: 60px 0;
}
.board{
    width: 75%;
	margin: 0px auto;
	height: 500px;
	background: #fff;
	margin-bottom: 30px;
	display: inline-block;
    width: 100%;
}
.board .nav-tabs {
    position: relative;
    margin: 0px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}
.btc-id{
	color: #29aae1;
    margin-bottom: 25px;
}
.wait{
	color: #999;
    margin: 15px 0;
}
.payment-notic{

}
.bar-code{
	width: 200px;
    max-width: 100%;
}
.board > div.board-inner{
    background: transparent;
    background-size: 30%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
span.round-tabs {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 5px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}
.board .nav-tabs {
    border-bottom: 0px solid #ddd;
}
span.round-tabs.one{
    color: #333;
    border: 1px solid #999;
}
li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}
.board .one img{
	max-width: 100%;
}
.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 33.33%;
}
.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
}
.nav-tabs > li a{
   width: 80px;
   height: 80px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}
li.active span.round-tabs.one {
    background: #fff!important;
    border: 1px solid #ddd;
    color: #333;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-out;
}
.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 10px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

.section-2{
    padding-bottom: 40px;
}

@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}

    .tab-content .head{
        font-size:20px;
        }


.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}





/*****************END HOME PAGE**********************/

/*********************AFFILIATE*************************/
.slider-title .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    margin: 5px 0;
}
.page-title{
	font-size: 46px;
    color: #ddd;
    font-weight: 400;
    margin: 0;
}
.slider-title{
	padding: 70px 0;
}
.slider-title .breadcrumb li a{
	font-size: 18px;
    color: #ddd;
    text-decoration: none;
}
.slider-title .breadcrumb>.active {
    color: #afafaf;
    font-size: 18px;
}
.affiliate-icon .fa{
	font-size: 100px;
    color: #999;
}

.affiliate-program h2{
	color: #999;
    border-left: 3px solid #db2828;
    padding-left: 15px;
}
.affiliate-program h4{
	color: #999;
}
.affiliate-program h2 span{
	color: #db2828;
}
.become-rep{
    margin-top: 50px;
}
.become-rep a{
	background: #29aae1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}
.affiliate-program{
	border: 1px solid #eee;
    padding: 25px 50px;
    position: relative;
}
.commi span{
    font-size: 40px;
    background: #db2828;
    color: #fff;
    padding: 54px 0;
    display: inline-block;
    width: 97px;
    text-align: center;
}
.pdnrit0{
	padding-right: 0;
}
.pdnlft0{
	padding-left: 0;
}
.affi-prog{
	display: block;
    width: 100%;
    margin: 15px 0;

}
.affi-per h2{
	margin-top: 0px;
    border-left: 4px solid #db2828;
    padding-left: 15px;
    color: #999;
}
.affi-per{
	padding: 20px;
    color: #333;
    background: #eee;
}
.affi-status{
	    background: transparent;
    color: #333;
    padding:30px 20px;
    text-align: center;
    border: 1px solid #eee;
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 25px;
}
.affi-status h2{
	margin-top: 0;
	margin-bottom: 15px;
}
.affi-status h5 span{
	    background: #0e86b9;
    color: #fff;
    padding: 2px 15px;
    border-radius: 5px;
}
.affi-status h5 a{
	text-decoration: none;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
}



/**END VERTICAL TABS**/
.referral input{
	width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
/*************************PAYOUT*******************************/
.load-more{
	text-align: center;
}
.load-more a{
	background: #db2828;
    color: #fff;
    padding: 8px 30px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}
/*************************END PAYOUT*******************************/

/*************************ACCOUNT*********************************/
.pymnt {
	border: 1px solid #ddd;
    padding: 30px;
    color: #999;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.pymnt .progress-title{
	margin-bottom: 10px;
    display: inline-block;
}
.pymnt .text-capitalize{
	margin-top: 0px;
	text-transform: uppercase;
}

.progress .skill {
  font: normal 12px "Open Sans Web";
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}
.progress-bar-info {
    background-color: #29aae1;
}
.pymnt .progress-bar {
  text-align: left;
  transition-duration: 3s;
}

.bhoechie-tab-content form{
	margin-bottom: 20px;
}
.pymnt .progress {
    height: 5px;
}
/*************************END ACCOUNT*****************************/

/*********************FAQ*********************/
.accordion-title h3{
	color: #999;
    margin:40px 0 20px 0;
    text-align: center;
}
.faq{
	width: 70%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.faq .panel-title>a{
	text-decoration: none;
}
/*********************FAQ*********************/

/*********************CONTACT US********************/
.btn {
    display: inline-block;
    padding: 10px 35px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #db2828;
    border-radius: 4px;
    background: transparent;
    color: #db2828;
    margin-top: 20px;
}
.mb-4{
	margin-bottom: 25px;
	margin-top: 0;
}
.address p{
	display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}
.address .fa{
	font-size: 20px;
	color: #db2828;
	width: 20px;
}
.mail-contact a{
	    margin-left: 12px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
.mail-contact .fa{
	font-size: 20px;
    color: #db2828;
    width: 20px;
}
.address{
	margin-top: 54px;
}
.mail-contact{
	margin: 20px 0;
}
.contact-text{
	    margin-left: 35px;
    line-height: 25px;
}

/*********************END CONTACT US*************************/


.abt{
    text-align: center;
    padding: 60px 0 20px;
}
.abt .fa{
    color: #ddd;
    font-size: 42px;
    margin-right: 15px;
}
.mission .panel-title a{
        text-decoration: none;
    font-size: 22px;
}
.our-mission{
        border: 1px solid #eee;
    padding: 25px;
    margin-bottom: 40px;
}
.mission .affiliate-program {
    border: 1px solid #eee;
    padding: 25px 50px;
    position: relative;
    margin-bottom: 20px;
}
.mission{
    padding-bottom: 60px;
}
.about-section{
    padding: 50px 0;
}
.cookies1 ul{
    padding-left: 25px;
}



/*********************END AFFILIATE*************************/
@media(max-width: 1024px){
	.commi span {
    	width: 81px;
	}
	.menu-bar .nav>li>a {
	    padding:0 10px;
	    padding-top: 31px;
    	padding-bottom: 32px;
	}
	.mining-text {
	    font-size: 22px;
	}
	.bonus {
	    width: 62%;
	}
    .balance-num h1{
        font-size: 38px;
    }
	
}
@media(max-width: 768px){
	.lead {
    	font-size: 16px;
	}
    .visit-table{
        display: inline-block;
        max-width: 100%;
        overflow: scroll;
    }
	.features h3 {
    	font-size: 20px;
    	font-weight: 400;
	}
	.features {
    	padding: 15px;
	}
	.connection h2 {
    	font-size: 26px;
	}
	.title-1-center h2{
		font-size: 26px;
	}
	.blog-contant {
	    padding: 15px;
	    padding-bottom: 10px;
	}
	.blog-social .pull-right{
		float: none !important;	
	}
	.blog-read-more{
		display: inline-block;
    	margin-top: 15px;
	}
	.commi span {
	    font-size: 26px;
	    padding: 64px 0;
	    width: 63px;
	}
	.scroll-top-btn {
	    position: absolute;
	    top: -31px;
	    right: 45%;
	}
	.tab-pane {
	    padding-top: 0;
	}
	.menu-bar .nav>li>a {
        padding: 0 5px;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 12px;
    }
	.navbar-brand>img {
	    display: block;
	    width: 150px;
	    max-width: 100%;
	}
	.balance-num h1{
		font-size: 36px;
	}
	.balance-text h2{
		font-size: 22px;
	}
	.withdraw button {
	    background: #db2828;
	    border: 0px solid #db2828;
	    padding: 8px 10px;
	    color: #fff;
	}
	.mining-text {
	    margin: 10px 0;
	}
	.mining-text {
    	font-size: 21px;
	}
	.bonus {
    	width: 36%;
	}
	.prising-table {
	    margin:  0;
	}
    .prising-table3 {
    text-align: center;
    background: #4da3c7;
    padding: 40px 20px;
    border: 2px solid #0e86b9;
    color: #fff;
    border-radius: 10px;
}
	
}
@media(max-width: 480px){
	.nav-justified>li {
    	float: left;
    	width: 33%;
	}
	.tabs .nav>li>a {
	    padding: 10px 10px;
	}
	.tabs h4 {
    	font-size: 16px;
	}
	.tabs .nav.nav-justified > li > a > img {
    	width: 70px;
	}
	.navbar-toggle {
    	margin-top: 17px;
	}
	.navbar-brand>img {
	    width: 150px;
	}
	.slider-form button {
	    font-size: 14px;
	    padding: 8px 12px;
	}
	.label-img{
		display: none;
	}
	.slider-form input {
	    height: auto;
	    padding: 10px 10px;
	    font-size: 14px;
	}
	.tab-pane .tab-inner {
	    padding: 0;
	}
	.tabs {
    	margin-top: 25px;
	}
	.title-1-center p {
    	width: 100%;
	}
	.footer-logo img {
	    max-width: 100%;
	    width: 200px;
	}
	.copy-rights li {
	    display: block;
	    float: none;
	    padding: 0 10px;
	    border-right: 0px solid #fff;
	    text-align: center;
	}
	.footer-text {
	    width: 100%;
	    margin: 10px auto;
	    max-width: 100%;
	}
	.social-icon .fa {
	    font-size: 16px;
	    height: 35px;
	    width: 35px;
	    background: #fff;
	    vertical-align: middle;
	    text-align: center;
	    padding: 8px;
	    color: #0e86b9;
	    border-radius: 20px;
	}
	.social-icon ul li a {
	    padding: 3px;
	    color: #fff;
	    text-decoration: none;
	}
	.footer-menu-bar a {
	    font-size: 16px;
	}
	.footer {
	    padding: 30px 0;
	}
	.section-1 {
    	padding: 40px 0;
	}
	.hideme {
	    opacity: 1 !important;
	}
	.features {
	    margin: 15px 0px;
	}
	.navbar-nav>li>a {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	.affiliate-program {
	    padding: 0px 20px;
	}
	.commi span {
	    padding: 54px 0;
	    width: 54px;
	}
	.affiliate-program h2 {
	    font-size: 22px;
	}
	.slider-title .pull-right{
		float: left !important;
	}
	.slider-title .breadcrumb {
	    padding: 8px 0px;
	    margin: 18px 0 0 0;
	}
	.scroll-top-btn {
	    position: absolute;
	    top: -31px;
	    right: 42%;
	}
	.faq {
    	width: 100%;
	}
	.welcome {
	    margin: 10px 0 10px 0;
	}
	.welcome h1 {
	    font-size: 34px;
	}
	.welcome h4{
		font-weight: 400;
    	font-size: 16px;
	}
	.version {
    	margin: 20px 0;
	}
	.mining-version{
		margin: 15px 0;
	}
	
	.withdraw {
	    margin: 9px;
	    text-align: center;
        display: inline-block;
        width: 100%;
	}
	.balance-text h2{
		font-size: 18px;
	}
	.balance-num h1{
		font-size: 26px;
	}
	.menu-bar .nav>li>a {
	    padding: 0 15px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    font-size: 12px;
	}
	.bonus {
    	width: 31%;
	}
	.slider-title {
    	padding: 40px 0;
	}
	.table-responsive{
		overflow: scroll;
	}
	.bhoechie-tab-content{
		overflow: scroll;
    	width: 100%;
	}
	.list-group-item {
	    padding: 18px 0px;
	}
	.page-title {
	    font-size: 36px;
	}
	.affi-status h5{
		line-height: 2;
	}
	.affi-per h2 {
	    font-size: 26px;
	}
	.tab-content {
	    margin-top: 35px;
	}
	.board {
	    width: 90%;
	    height: auto !important;
	    margin: 0 auto;
	    display: block;
	}
	.bitcoin-number {
	    margin: 0 0 15px 0;
	}
	.model-form input {
	    width: 83%;
	}
	.select-chart select {
	    padding: 8px 15px;
	    font-size: 14px;
	}
	.first-model h1 {
	    font-size: 34px;
	}
    .reviews a .fa {
        display: none;
    }
    .reviews a {
        height: 41px;
        width: 51px;
        font-size: 12px;
    }
    .reload{
        text-align: center;
        margin-bottom: 15px;
    }

}
@media(max-width: 320px){
	.bonus {
    	width: 43%;
	}
	.list-group-item {
	    padding: 18px 0px;
	    font-size: 10px;
	}
	.table-title h3{
		font-size: 18px;
	}
	.account-details h4{
		font-size: 14px;
	}
	.slider-form input{
		width: 85%;
	}
	.slider-form button {
	    margin-top: 15px;
	}
	.lead {
    	font-size: 14px;
	}
	.footer-menu-bar a {
	    font-size: 14px;
	    padding: 0 5px;
	}
	.section-3 {
    	padding: 15px 0;
	}
	.btc-id{
		font-size: 18px;
	}
	.scroll-top-btn {
	    position: absolute;
	    top: -31px;
	    right: 40%;
	}
	.model-button button {
	    margin:15px 0px;
	}
	.select-chart select {
	    width: 100%;
	}
	.affi-status {
	    padding: 15px 5px;
	}
	.affi-status h5{
		font-size: 12px;
	}
	.affi-status h2 {
	    font-size: 24px;
	}
	.affi-per h2 {
    	font-size: 24px;
	}
	.bhoechie-tab-menu {
	    padding-left: 0;
	    padding-right: 0;
	}
	.load-more a {
	    padding: 8px 25px;
	}
	.title h2{
		font-size: 26px;
	}
}